*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  width: 100vw;
  padding-inline: 10px;
}

#main {
  background: #eee;
  padding: 10px;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
}

#title {
  font-size: 3rem;
  margin-block: 30px;
}

#subtitle {
  margin-block: 20px;
}

#img-div {
  background-color: #fff;
  padding-bottom: 10px;
  width: 100%;
}
#img-caption {
  text-align: center;
  margin: 20px 0;
}
#content {
  width: 600px;
  margin: 0 auto;
}

#content h2 {
  text-align: center;
  margin-block: 50px;
}

ul {
  padding: 0 20px;
}

ul li {
  line-height: 1.6rem;
  margin-block-end: 20px;
  text-align: left;
}

/* top-bottom margin-block start-end */
/* left-right margin-inline start-end */
/* margin-block-start top */
/* margin-inline-end right */

img {
  display: block;
  max-width: 100%;
}

#image {
  margin: 0 auto;
}

.content-footer {
  text-align: left;
  font-style: italic;
}

.content-footer p:first-child {
  margin-block-start: 50px;
}

.content-footer p:last-child {
  margin-block-start: 30px;
}

#tribute-info {
  margin-block: 50px;
  font-weight: 700;
  font-size: larger;
}
